.not-found {
   text-align: center;
   width: 100%;
   font-size: 2rem;
   font-family: 'Fredoka One', sans-serif;
   color: var(--bs-danger);
   margin-top: 18px;
   font-weight: 700;
}
.img-not-found {
   width: 200px;
   border-radius: 12px;
}
